<div class="container">
  <h1><%= @poll.title %></h1>

  <ul class="unstyled" id="poll-options">
    <% @poll.poll_options.each do |option| %>
      <li><%= option.description %></li>
    <% end %>
    <% if @poll.poll_options.empty? %>
      <li><em>No poll options yet. Add one.</em></li>
    <% end %>
    <li id="add-li">
      <input type="text" id="add-option-text" placeholder="add option"></input>
      <a href="#" id="add-option" class="btn btn-primary">Add option</a>
    </li>
  </ul>

  <h2><%= @poll.voters.count %> people have cast <%= @poll.votes.count %> votes (they have <%= @poll.votes_remaining %> votes remaning)</h2>

  <a href="#" class="btn btn-primary">end now</a>

  <hr>

  <div class="results">

  <h1>Results</h1>
    <div class="progress progress-success" style="margin-bottom: 9px;">
    <div class="bar" style="width: 60%"></div>
  </div>

  <div class="progress progress-info" style="margin-bottom: 9px;">
    <div class="bar" style="width: 35%"></div>
  </div>

  <div class="progress progress-info" style="margin-bottom: 9px;">
    <div class="bar" style="width: 20%"></div>
  </div>

  <div class="progress progress-info" style="margin-bottom: 9px;">
    <div class="bar" style="width: 15%"></div>
  </div>

  </div>

</div>

<script type="text/javascript">
  $(function() {
    var addLi = $("#add-li");
    var addButton = $("#add-option");
    var addText = $("#add-option-text");
    var list = $("#poll-options");
    addButton.live("click", function() {
      var option = addText.val();
      if (option.length !== 0) {
        console.log("submitting");
        $.post("<%= poll_options_url %>", {"poll_id": <%= params[:id] %>, "description": option}).done(function() {
          console.log("wtf");
          addLi.remove();
          list.append($("<li>" + option + "</li>"));
          list.append(addLi);
          addText.val("");
          addText.focus();
        });
        console.log(option);
      }
    });
  })
</script>
