<div class="container">
  <h1><%= @poll.title %></h1>

  <% if !@poll.ended_at.present? %>

  <div id="remaining">
    you have
    <span id="votes-remaining" style="font-size: 225%; font-weight: bold; color: #33cc33;">
      <%= @poll.votes_remaining(@user) %>
    </span>
    votes remaining
  </div>
  
  <ul class="unstyled" id="poll-options">

      <li style="padding: 4px;" id="temp-li" class="hidden">
        <span class="num" id="data-span" style="opacity: 0.0; width: 15px; position: relative; top: 3px; display: inline-block; font-weight: bold; font-size: 120%; color: #33cc33">
          0
        </span>
        <span id="vote-span" class="btn vote-button">Vote</span>
        <span id="unvote-span" class="btn disabled unvote-button">-</span>
        <span class="description"></span>
      </li>


    <% if @poll.poll_options.empty? %>
      <li id="empty-li"><em>No poll options yet. Add one.</em></li>
    <% end %>

    <% @poll.poll_options.each do |option| %>
      <li style="padding: 4px;" id="option-li-<%= option.id %>">
        <span class="num" data-id="<%= option.id %>" style="opacity: 0.0; width: 15px; position: relative; top: 3px; display: inline-block; font-weight: bold; font-size: 120%; color: #33cc33">
          0
        </span>
        <span id="vote-<%= option.id %>" class="btn vote-button">Vote</span>
        <span id="unvote-<%= option.id %>" class="btn disabled unvote-button">-</span>
        <span class="description">
          <%= option.description %>
        </span>
      </li>
    <% end %>

    <li id="add-li">
      <div class="input-append">
        <input type="text" id="add-option-text" placeholder="add option"></input><button id="add-option" class="btn">Add option</button>
      </div>
    </li>

  </ul>

  <div id="vote-buttons">
    <button id="cast-vote" class="btn btn-primary<% if @poll.votes_remaining(@user) == 0 %> disabled<% end %>">Cast Vote</button>
    <% if @poll.user == @user %>
      <button id="end-now" class="btn btn-danger">end poll now</button>
    <% end %>
  </div>

  <% end %>

  
  <% if @poll.ended_at.present? %>
  
  <div class="results">
  <p>Ended at <%= @poll.ended_at %></p>

  <h1>Results</h1>

    <% max = @poll.ranked_poll_options.first.vote_count %>
    <% @poll.ranked_poll_options.each_with_index do |option, i| %>
      <% if i == 0 %>
        <div class="progress progress-success" style="margin-bottom: 9px;">
      <% else %>
        <div class="progress progress-info" style="margin-bottom: 9px;">
      <% end %>
        <div class="bar" style="width: <%= option.vote_count.to_f / max * 100 %>%"><%= option.vote_count %> : <%= option.description %></div>
        </div>
      

    <% end %>

  <% end %>

</div>

<script type="text/javascript">
  $(function() {
    var votesRemaining = $("#votes-remaining");

    $(".vote-button").live("click", function() {
      var numRemaining = parseInt(votesRemaining.text(), 10);
      if (numRemaining === 0) {
        return false;
      }
  
      var el = $(this);
      var numEl = el.siblings(".num").first();
      var num = parseInt(numEl.text(), 10);
      num += 1;
      numEl.text(parseInt(num));
      numEl.css({ opacity: 1.0 });
      numEl.show();

      var description = el.siblings(".description").first();
      description.addClass("selected");

      var unvoteEl = el.siblings(".unvote-button").first();
      unvoteEl.removeClass("disabled");

      numRemaining -= 1;
      votesRemaining.text(numRemaining);
      if (numRemaining === 0) {
        console.log("disabling");
        $(".vote-button").addClass("disabled");
      }

      return false;
    });

    $(".unvote-button").live("click", function() {
      var numRemaining = parseInt(votesRemaining.text(), 10);
  
      var el = $(this);

      if (el.hasClass("disabled")) {
        return false;
      }
  
      var numEl = el.siblings(".num").first();
      var num = parseInt(numEl.text(), 10);
      num -= 1;
      console.log(num);

      if (num === 0) {
        numEl.css({ opacity: 0.0 });
        el.addClass("disabled");
      }
      numEl.text(num);
  
      var voteEl = el.siblings(".vote-button").first();
      voteEl.removeClass("disabled");

      numRemaining += 1;
      votesRemaining.text(numRemaining);
      if (numRemaining !== 0) {
        console.log("enabling");
        $(".vote-button").removeClass("disabled");
        var description = el.siblings(".description").first();
        description.removeClass("selected");
      }

      return false;
    });

    $("#cast-vote").click(function() {
      if ($(this).hasClass("disabled")) {
        return false;
      }
      if (!confirm("Are you sure you want to submit this as your vote? NO UNDO!")) {
        return false;
      }

      var data = {};
  
      $(".num").each(function(i, element) {
        var el = $(element);
        var id = el.data("id");
        var votes = parseInt(el.text(), 10);

        data["poll_options[" + id + "]"] = votes;
      });
  
      console.log(data);

      $.post("<%= poll_votes_url(@poll) %>", data).done(function() {
        window.location.reload();
      });
    });

    $("#end-now").click(function() {
      $.get("<%= poll_url(@poll) %>", {"end_now": true}).done(function() {
        window.location.reload();
      });
    });
  
    var addLi = $("#add-li");
    var addButton = $("#add-option");
    var addText = $("#add-option-text");
    var emptyLi = $("#empty-li");
    var list = $("#poll-options");
    var tempLi = $("#temp-li");

    addButton.live("click", function() {
      emptyLi.hide();

      var option = addText.val();
      if (option.length !== 0) {
        $.post("<%= poll_poll_options_url(@poll) %>", {"poll_id": <%= params[:id] %>, "description": option}).done(function(data) {
          addLi.remove();

          newLi = tempLi.clone();
          newLi.id = "option-li-" + data.id;
          newLi.removeClass("hidden");
          newLi.children(".description").text(option);

          list.append(newLi);
          list.append(addLi);

          addText.val("");
          addText.focus();
        });
      }
    });
  })
</script>
