<div class="container">
  <h1><%= @poll.title %></h1>

  <ul class="unstyled">
    <% @poll.poll_options.each do |option| %>
      <li><strong><%= option.title %></strong>. <%= option.description %></li>
    <% end %>
    <% if @poll.poll_options.empty? %>
      <li><em>No poll options yet. Add one.</em></li>
    <% end %>
    <li><input type="text" placeholder="add option"></i></li>
  </ul>

  <h2><%= @poll.voters.count %> people have cast <%= @poll.votes.count %> votes (they have <%= @poll.votes_remaining %> votes remaning)</h2>

  <a href="#" class="btn btn-primary">end now</a>

  <hr>

  <div class="results">

  <h1>Results</h1>
    <div class="progress progress-success" style="margin-bottom: 9px;">
    <div class="bar" style="width: 60%"></div>
  </div>

  <div class="progress progress-info" style="margin-bottom: 9px;">
    <div class="bar" style="width: 35%"></div>
  </div>

  <div class="progress progress-info" style="margin-bottom: 9px;">
    <div class="bar" style="width: 20%"></div>
  </div>

  <div class="progress progress-info" style="margin-bottom: 9px;">
    <div class="bar" style="width: 15%"></div>
  </div>

  </div>

</div>
